.title {
  font: var(--font-l);
}

.paragraph {
  font: var(--font-s);
}

.primary {
  .title {
    color: var(--primary-color);
  }

  .paragraph {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--red-primary);
  }

  .paragraph {
    color: var(--red-secondary);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
