.ArticlesViewSelector {
  display: flex;

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      cursor: default;
      opacity: 0.5;
    }

    .icon {
      fill: var(--primary-color);
    }
  }
}
