.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.link {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .icon {
    fill: var(--inverted-primary-color);
    margin-right: 8px;
  }

  .text {
    transition: opacity 0.2s;
    opacity: 1;
  }
}

.link:first-of-type {
  margin-top: 0;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.language {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  bottom: var(--font-line-l);
  right: calc(-1 * var(--font-line-l));
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .language {
    margin-left: 0;
  }

  .link {
    justify-content: center;

    .icon {
      margin-right: 0;
    }

    .text {
      transition: opacity 0.2s;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
