.ArticleList {
  list-style-type: none;
  display: flex;

  .error {
    width: 100%;
  }

  &.small {
    gap: 10px;
    flex-wrap: wrap;

    .row {
      display: flex;
      gap: 10px;
    }
  }

  &.big {
    flex-direction: column;
    gap: 20px;
  }
}
