.inputWrapper {
  display: flex;
}

.input {
  border: none;
  width: 100%;
  background: transparent;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.placeholder {
  color: var(--primary-color);
}

.carriageWrapper {
  flex-grow: 1;
  position: relative;
}

.carriage {
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink 0.5s alternate-reverse infinite;
}

.readonly {
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
