.app_contrast_theme {
  --bg-color: #000;
  --inverted-bg-color: #262626;
  --primary-color: #fffb00;
  --inverted-primary-color: #fffb00;
  --secondary-color: #fffb00;
  --inverted-secondary-color: #fffb00;

  // skeleton
  --skeleton-shadow-color: #000;
  --skeleton-color: #343434;

  // code
  --code-bg: #262626;
}
