.app_contrast_theme {
  --bg-color: #f0fc00;
  --inverted-bg-color: #7c07a9;
  --primary-color: #7c07a9;
  --inverted-primary-color: #f0fc00;
  --secondary-color: #6d0198;
  --inverted-secondary-color: #c5d000;
}
