.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #d8d8e6;
  --primary-color: #009a00;
  --secondary-color: #04ff04;
  --inverted-primary-color: #011598;
  --inverted-secondary-color: #1d00ff;
}
