.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #d8d8e6;
  --primary-color: #00c700;
  --secondary-color: #007900;
  --inverted-primary-color: #1d00ff;
  --inverted-secondary-color: #011598;
}
