.app_light_theme {
  --bg-color: #d8d8e6;
  --inverted-bg-color: #090949;
  --primary-color: #8576f6;
  --secondary-color: #0019bc;
  --inverted-primary-color: #00c700;
  --inverted-secondary-color: #009a00;

  // skeleton
  --skeleton-shadow-color: #b0b0bb;
  --skeleton-color: #eef;

  // code
  --code-bg: #e7e7f9;

  // card
  --card-bg: #efefff;
}
