.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

// .data {
//   margin-top: 30px;
// }

// .input {
//   margin-top: 10px;

//   &:last-of-type {
//     margin-top: 0;
//   }
// }

.loading,
.error {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
